<div class="jumbotron">
  <h1>St. George Muscle Cars 435</h1>
  <p>Welcome to St. George Muscle Cars 435. The showroom for my Diecast Muscle Car collection.</p>
  <%= link_to "Dashboard", dashboard_index_path, class: "btn btn-primary" %>
</div>

<%= link_to image_tag("bldg.jpg", class: 'img-responsive center-block') %>
